<div class="d-flex">
  <app-sidebar></app-sidebar>
  <div class="container-fluid p-0 m-0">
    <router-outlet></router-outlet>
  </div>
</div>


<!-- <app-modal>
  <div trigger>Hehe</div>

  <div head> HEHEHEHEH</div>

  <div content>
    <div class="row form-group mb-4">
      <div class="col">
        <label class="form-label fw-semibold">Username</label>
        <input type="text" placeholder="username" class="form-control">
      </div>
      <div class="col">
        <label class="form-label fw-semibold">Username</label>
        <input type="text" placeholder="username" class="form-control">
      </div>
    </div>

    <div class="row form-group">
      <div class="col">
        <label class="form-label fw-semibold">Password</label>
        <input type="text" placeholder="password" class="form-control">
      </div>
      <div class="col">
        <label class="form-label fw-semibold">Password</label>
        <input type="text" placeholder="password" class="form-control">
      </div>
    </div>
  </div>

  <button footer type="button" class="btn btn-primary w-100 bg-dark rounded-0 border-0 p-3 text-uppercase">Simpan</button>

</app-modal> -->
